table, th, td { border: 1px solid black; }
th { background: black; color: white; }

.dev {
    font-family: courier, monospace;
}
.input {
    width: 100%;
    font-family: courier, monospace;
    font-size: 90%; 
    font-weight: bold;
    background-color: #FFFFFF;
    color: #000000;
}
.error {
    font-size: 100%;
    color: #FF0000;
    margin-top: 0;
    margin-bottom: 0;
}
.output {
    overflow:visible;
    background-color: #F3F5F7;
    color: #000000;
    font-size: 90%;
}

.status {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: gold;
}