body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #ffffff;
}

.output {
    border: 1pt solid #AEBDCC;
    width: 100%;
    overflow:auto;
    background-color: #F3F5F7;
    color: #000000;
    font-family: courier, monospace;
    font-size: 90%;
}

.error {
    font-size: 100%;
    color: #FF0000;
}

.input {
    width: 100%;
    font-size: 90%; 
    font-family: courier, monospace;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #000000;
}

#input-multiline {
    height: 25%;
}

.mini-console {
    border: 1pt solid #AEBDCC;
    width: 25%;
    overflow:auto;
    background-color: #F3F5F7;
    color: #000000;
    font-family: courier, monospace;
    font-size: 90%;
}
.table {
    display:table;
    border-collapse:separate;
}

.row {
    display:table-row;
}

.cell {
    display:table-cell;
    width: 25%;
}
